
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_AdogaLayout.cshtml";
}

@section topCSS{
    <link href="~/Asset/CSS/Search.css" rel="stylesheet" />
}

@Html.Partial("_SearchFilterPartial")

<div id="filter">
    <div class="filter-bar">
        <div class="filter-container">
            <div class="array-list">
                <p>篩選條件</p>
                <div class="array-item">
                    <button type="button" id="filter-price" class="btn dropdown-toggle array-item" data-bs-toggle="dropdown" aria-expanded="true">
                        價格
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filter-price">
                        <li id="price-range">
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <p>付款方式</p>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>到店付款</p>
                            </label>
                        </li>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>免信用卡訂房</p>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="array-item">
                    <button type="button" id="filter-star" class="btn dropdown-toggle array-item" data-bs-toggle="dropdown" aria-expanded="true">
                        星級評等
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filter-star">
                        <p>星级</p>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>
                                    <i v-for="item in 5" class="fas fa-star"></i>
                                </p>
                            </label>
                        </li>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>
                                    <i v-for="item in 4" class="fas fa-star"></i>
                                </p>
                            </label>
                        </li>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>
                                    <i v-for="item in 3" class="fas fa-star"></i>
                                </p>
                            </label>
                        </li>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>
                                    <i v-for="item in 2" class="fas fa-star"></i>
                                </p>
                            </label>
                        </li>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="center">
                            <label class="form-check-label" for="center">
                                <p>
                                    <i class="fas fa-star"></i>
                                </p>
                            </label>
                        </li>
                        <li class="dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="more-10km" checked>
                            <label class="form-check-label" for="more-10km">
                                <p>尚未標示</p>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="array-item">
                    <button type="button" id="openFilter" class="btn dropdown-toggle array-item">
                        <label for="filter-equipment">设施、房型和服务</label>
                    </button>
                </div>
            </div>
            <form>
                <button><i class="fas fa-search"></i></button>
                <input type="search" placeholder="想搜什麼就搜什麼">
            </form>
        </div>
    </div>
</div>

<!-- 点击Filter出现的侧边栏 -->
<div id="filter-equipment">
    <section class="equipment-box">
        <div class="filter-body">
            <div class="accommodation row">
                <p>住宿設施&服務</p>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div><div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div><div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
            </div>
            <hr class="dropdown-divider">
            <div class="room row">
                <p>客房設施/服務</p>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
            </div>
            <hr class="dropdown-divider">
            <div class="bed row">
                <p>床型</p>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
            </div>
            <hr class="dropdown-divider">
            <div class="roomOffer row">
                <p>房型優惠</p>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
                <div class="form-list col-4">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        <p>游泳池(123)</p>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-footer-outlayer">
            <div class="filter-footer">
                <p>搜尋頁面將顯示<span>台南市</span>符合條件的<span>764</span>間住宿</p>
                <button type="button" id="clear-filter" class="btn btn-outline-primary">清除</button>
                <button type="button" class="btn btn-primary" onclick="closeFilter()">完成</button>
            </div>
        </div>
    </section>
    <div class="closeFilter" onclick="closeFilter()"></div>
</div>

<div class="main-body">
    <div class="side-menu">
        <div class="map">
            <img src="https://cdn6.agoda.net/images/MAPS-1213/default/bkg-map-entry.svg" alt="地图">
            <!-- <img src="https://cdn6.agoda.net/images/MAPS-1213/default/img-map-pin-red.svg" alt="地标"> -->
            <div class="map-icon">
                <i class="fas fa-map-marker-alt"></i>
                <p>地圖找房</p>
            </div>
        </div>
        <div class="from-list">
            <div class="from-distance">
                <p>距離市中心</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="center">
                    <label class="form-check-label" for="center">
                        <p>位於市中心(<span>327</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="less-2km">
                    <label class="form-check-label" for="less-2km">
                        <p>距市中心2公里內(<span>238</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="2-5km">
                    <label class="form-check-label" for="2-5km">
                        <p>距市中心2-5公里(<span>127</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="5-10km">
                    <label class="form-check-label" for="5-10km">
                        <p>距市中心5-10公里(<span>24</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="more-10km">
                    <label class="form-check-label" for="more-10km">
                        <p>距市中心10公里以上(<span>61</span>)</p>
                    </label>
                </div>
            </div>
            <div class="line"></div>
            <div class="from-area">
                <p>區域</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="p1">
                    <label class="form-check-label" for="p1">
                        <p><span>台南市</span>(<span>469</span>)</p>
                        <p>
                            <i class="fas fa-tag"></i>
                            NT$<span>2602</span>
                        </p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="p2">
                    <label class="form-check-label" for="p2">
                        <p><span>安平區</span>(<span>112</span>)</p>
                        <p>
                            <i class="fas fa-tag"></i>
                            NT$<span>3032</span>
                        </p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="p3">
                    <label class="form-check-label" for="p3">
                        <p><span>永康區</span>(<span>21</span>)</p>
                        <p>
                            <i class="fas fa-tag"></i>
                            NT$<span>2410</span>
                        </p>
                    </label>
                </div>

            </div>
            <div class="collapse multi-collapse" id="other-area">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="other1">
                    <label class="form-check-label" for="other1">
                        <p><span>安平區</span>(<span>112</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="other1">
                    <label class="form-check-label" for="other1">
                        <p><span>安平區</span>(<span>112</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="other1">
                    <label class="form-check-label" for="other1">
                        <p><span>安平區</span>(<span>112</span>)</p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="other1">
                    <label class="form-check-label" for="other1">
                        <p><span>安平區</span>(<span>112</span>)</p>
                    </label>
                </div>
            </div>
            <a id="btn-other-area" data-bs-toggle="collapse" href="#other-area" role="button" aria-expanded="false" aria-controls="other-area">
                顯示另外<span>22</span>個 ▼
            </a>
        </div>
    </div>

    <div class="infomation">
        <div class="card">
            <div class="img">
                <img src="//pix6.agoda.net/hotelImages/1158270/-1/e11b2751b3be0ee28417b1b61904cf22.jpg?s=450x450" alt="">
                <div class="small-img">
                    <img src="https://picsum.photos/id/685/50/33" alt="">
                    <img src="https://picsum.photos/id/685/50/33" alt="">
                    <img src="https://picsum.photos/id/685/50/33" alt="">
                    <img src="https://picsum.photos/id/685/50/33" alt="">
                    <div class="see-more">
                        <p>查看更多</p>
                    </div>
                </div>
            </div>
            <div class="detail">
                <a href="#">東寧文旅(DongNing Atlas Hotel)</a>
                <div class="small-rank">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>台南市, 台南市 - 位於市中心</p>
                    </div>
                </div>
                <div class="include-list">
                    <p class="Breakfast">早餐</p>
                </div>
                <div class="tag-list">
                    <i class="fas fa-money-bill-alt"></i>
                    <p>價格比同區域其他住宿低</p>
                </div>
                <div class="advantage">
                    <i class="far fa-credit-card"></i>
                    <p>免信用卡訂房</p>
                </div>
            </div>
            <div class="rank">
                <!-- <div class="point">
        <div class="comment">
            <p>很讚</p>
            <p><span>10,237</span> 份評鑑</p>
            <p>地點 <span>9.0</span></p>
        </div>
        <div class="icon">
            <p>8.5</p>
        </div>
    </div> -->
                <div class="offer">
                    <p>只剩<span>1</span>間房可享<span>34</span>％優惠</p>
                </div>
                <div class="price">
                    <p>每晚含稅價</p>
                    <del>1,918</del>
                    <ins>NT$<span>1,267</span></ins>
                </div>
                <!--bear : 0610新增-->
                @Html.ActionLink("查看空房情況", "Detail", "HotelDetail", null, new { @class = "btn btn-primary", })
                @*<button class="btn btn-primary">
                    查看空房情況
                    <i class="fas fa-chevron-right"></i>
                </button>*@
            </div>
        </div>
    </div>
</div>

@section endJS{
    <script src="~/Asset/js/Search.js"></script>
}
