
<nav id="nav " class="search-filter-nav">
    <div class="" style="        width: auto;
        margin-left: 70px;">

        <div class="nav-item" id="app">
            <div id="person-info" class="choose-bar align-items-center justify-content-center" style="height:64px;">
                <i class="fas fa-user-friends"></i>
                <div class="choose-info">
                    <p id="choose-info1">1位大人,1位兒童<br> <span>1間客房</span></p>
                 
                </div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div id="person-box">
                <div id="choosing-box">
                    <div class="travel single"id="single">
                        <div class="d-flex flex-column">
                            <p>單人旅遊</p>
                            <div style=" width: auto; height: auto; font-size: 12px; line-height: 12px; font-weight: 400;" class="d-flex justify-content-center bg-danger align-items-center">
                                <h4 class="text-white ">訂房最多可省12%</h4>
                            </div>
                        </div>
                       
                        <p>1間客房, 1位大人</p>
                    </div>
                    <div class="travel couple"id="couple">
                        <p >雙人旅遊</p>
                        <p>1間客房, 2位大人</p>
                    </div>
                    <div class="travel family">
                        <p>家庭旅遊</p>
                        <div><i class="fas fa-chevron-right"></i></div>
                    </div>
                    <div class="travel group">
                        <p>團體旅遊</p>
                        <div><i class="fas fa-chevron-right"></i></div>
                    </div>
                    <div class="travel bussiness">
                        <p>商務旅遊</p>
                        <div><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div id="count-person">
                    <div class="count-box" id="room-num">
                        <i class="fas fa-minus"></i>
                        <p><span>1</span>間房間</p>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="count-box" id="adult-num">
                        <i class="fas fa-minus"></i>
                        <p><span>1</span>位大人</p>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="count-box" id="kids-num">
                        <i class="fas fa-minus"></i>
                        <p><span>1</span>位兒童</p>
                        <i class="fas fa-plus"></i>
                    </div>
                    <button id="done-counting">
                        完成
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>