
@{
    ViewBag.Title = "管理訂單";
    Layout = "~/Views/Shared/_AdogaLayout.cshtml";
}

@section topCSS{
    <link rel="stylesheet" href="~/Asset/CSS/MemberAccount/MemberBookings.css" />
    <link rel="stylesheet" href="~/Asset/CSS/MemberAccount/MemberDetail.css" />
}

<div class="page-fullpage">
    <header id="page-header">
    </header>

    <div class="container-agoda">
        <div class="left-pane">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <section class="menu-component">
                    <ul>
                        <li class="bookings"id="member-order">
                            <i class="far fa-calendar-check">
                                <a href="" >
                                    管理訂單
                                </a>
                            </i>
                        </li>
                        <li class="inbox">
                            <i class="fas fa-inbox">
                                <a href="">
                                    收件匣
                                </a>
                            </i>
                        </li>
                        <li class="reviews">
                            <i class="far fa-star">
                                <a href="">
                                    住宿評鑑
                                </a>
                            </i>
                        </li>
                        <li class="profile"id="member-detail">
                            <i class="far fa-user">
                                <a href="" >
                                    個人資料
                                </a>
                            </i>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        @Html.Partial("~/Views/Account/_MemberBookingPartial.cshtml")
        @Html.Partial("~/Views/Account/_MemberDetailPartial.cshtml")
    </div>
</div>

@section endJS{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        let bookingPage = document.getElementById("booking-page")
        let detailPage = document.getElementById("detail-page")

        detailPage.style.display = 'none';

        let memberOrder = document.getElementById("member-order")
        memberOrder.addEventListener('click', () => {
            bookingPage.style.display = "block";
            detailPage.style.display = "none";
        })

        let memberDetail = document.getElementById("member-detail")
        memberDetail.addEventListener('click', () => {
            detailPage.style.display = "block";
            bookingPage.style.display = "none";
        })
    </script>
    <script>
        function ControlHideShow(enter, cancel, save, firstSelector, secondSelector, firstDisplayType, secondDisplayType, saveAction) {
            let enterPageBtn = document.getElementById(enter);
            let cancelBtn = document.getElementById(cancel);
            let saveBtn = document.getElementById(save);
            enterPageBtn.addEventListener('click', () => {
                HideShowComponent(firstSelector, secondSelector, secondDisplayType)
            })

            cancelBtn.addEventListener('click', () => {
                HideShowComponent(secondSelector, firstSelector, firstDisplayType)
            })

            if (saveAction) {
                saveBtn.addEventListener('click', () => {
                    HideShowComponent(secondSelector, firstSelector, firstDisplayType)
                })
            }
        }

        function HideShowComponent(hideSelector, showSelector, displayType) {
            let hideDOM = document.querySelector(hideSelector);
            let showDOM = document.querySelector(showSelector);
            hideDOM.style.display = 'none';
            showDOM.style.display = displayType;
        }

        ControlHideShow("name-edit", "cancel-name-edit-btn", "save-name-edit-btn", "div.name-component", "div.name-edit-component", "flex", "block", true);
        ControlHideShow("verify-email", "cancel-verify-email-btn", "sent-verify-email-btn", "div.email-component", "div.verify-email-component", "block", "block", true);

        ControlHideShow("phone-edit", "cancel-phone-btn", "save-phone-btn", "div.phone-component", "div.phone-edit-component", "flex", "block", true);
        ControlHideShow("password-edit", "cancel-password-btn", "save-password-btn", "div.password-component", "div.password-edit-component", "flex", "block", true);

    </script>
}