@model IEnumerable<BS_Adoga.Models.ViewModels.Account.MemberBookingViewModel>
@{
    Layout = "~/Views/Account/_LayoutMember.cshtml";
}

@section topCSS{
    <link rel="stylesheet" href="~/Asset/CSS/MemberAccount/MemberBookings.css" />
}

<div id="booking-page" class="ps-5 pt-4">
    <!-- <div class="AgodaVIPBanner_Container">
                <figure class="AgodaVipBanner_Image"></figure>
                <div class="AgodaVipBanner_Badge">
                    <span class="AgodaVipBadge gold">
                        <span class="AgodaVipBadge_Text">AgodaVIP</span>
                    </span>
                    <div class="AgodaVipBadge_FlashLine">
                        <div class="AgodaVipBadge_FlashLine--1"></div>
                        <div class="AgodaVipBadge_FlashLine--2"></div>
                        <div class="AgodaVipBadge_FlashLine--3"></div>
                    </div>
                </div>

                <div class="AgodaVipBanner_Text">
                    <p class="AgodaVipBanner_Text--title">子傑，想升級成為VIP會員嗎?</p>
                    <p class="AgodaVipBanner_Text--description">再完成5筆訂單即符合VIP資格，可獲得專屬折扣和福利</p>
                </div>

                <div class="AgodaVipBanner_Button">
                    <button class="btn">瞭解更多</button>
                </div>
            </div> -->

    <nav class="filter-my-order">
        <a class="filter-option current">即將入住</a>
        <a class="filter-option ">已完成</a>
        <a class="filter-option ">已取消</a>
    </nav>

    <div class="sort-btn-group">
        <div class="sort-text">排序方式</div>
        <div class="sort-option">預定日期</div>
        <div class="sort-option current">入住日期</div>
    </div>

    <div class="search-order-wrap mt-3 mb-5">
        <label for="input_order-id">訂單編號</label>
        <div class="search-order">
            <input id="input_order-id" placeholder="訂單編號">
            <button id="search" type="button" class="btn btn-secondary">搜尋</button>
            <button id="clear-button" type="button" class="btn btn-light">清除</button>
        </div>
    </div>

    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Account/_BookingPartial.cshtml", item);
        //Html.RenderPartial("~/Views/Search/_optionCity.cshtml", item);
    }

    @*@Html.Partial("~/Views/Account/_BookingPartial.cshtml")*@

    <div class="no-booking-panel mt-5">
        <img id="no-booking_img" src="https://cdn6.agoda.net/images/MMB-3149/illustration-empty.png">

        <div class="no-booking-content">
            <p class="big-text">您目前沒有即將到來的預訂。</p>
            <p>
                想要查看
                <a href="" id="checked_out">已完成</a>
                或
                <a href="" id="cancelled">已取消</a>
                的訂單嗎?
            </p>
        </div>
    </div>
</div>


